.todo-item {
    display: flex;
    width: fit-content;
    background-color: lightpink;
    border: 1px solid black;
    padding: 10px 20px 10px 10px;
    position: relative;
}

.todo-item-delete-button {
    position: absolute;
    background-color: lightgray;
    right: 2px;
    top: 2px;
}

.todo-item-delete-button:hover {
    background-color: gray;
}